/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.widget-content {
  margin-bottom: 10px;
}

.pp-widget-option {
  margin: 8px 0;
}

.pp-widget-option + .pp-widget-option {
  margin-top: 15px;
}

[dir="ltr"] .pp-widget-option input[type=checkbox] {
  margin-right: 5px;
}

[dir="rtl"] .pp-widget-option input[type=checkbox] {
  margin-left: 5px;
}

.pp-widget-option input::placeholder {
  color: #bbb !important;
  opacity: 1 !important;
}

.wp-picker-container,
.pp-widget-option .widefat {
  display: block;
  margin-top: 5px;
}

a.podcast-player-widget-img-uploader,
a.pp-settings-toggle {
  display: block;
  cursor: pointer;
  width: 100%;
  transition: all 0.1s ease-out;
  border: 1px dashed #a2aab2 !important;
  background-color: #f7f7f7;
  padding: 10px 0;
  margin: 10px 0 0;
  text-align: center;
}

a.pp-settings-toggle {
  border: 1px solid #e6e6e6 !important;
  color: #333 !important;
  padding: 12px;
  position: relative;
  width: auto;
}

[dir="ltr"] a.pp-settings-toggle {
  text-align: left;
}

[dir="rtl"] a.pp-settings-toggle {
  text-align: right;
}

a.pp-settings-toggle:after {
  content: "\f140";
  font: normal 20px/1 dashicons;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

[dir="ltr"] a.pp-settings-toggle:after {
  right: 15px;
}

[dir="rtl"] a.pp-settings-toggle:after {
  left: 15px;
}

a.pp-settings-toggle.toggle-active:after {
  content: "\f142";
}

a.podcast-player-widget-img-uploader img,
.podcast-player-widget-img-instruct {
  display: block;
}

a.podcast-player-widget-img-uploader:hover,
a.podcast-player-widget-img-uploader:focus {
  color: #0073aa;
  background-color: transparent;
}

a.has-image.podcast-player-widget-img-uploader {
  padding: 0;
  border-width: 0;
}

a.podcast-player-widget-img-remover {
  cursor: pointer;
}

img.custom-widget-thumbnail {
  width: 100%;
  height: auto;
}

.podcast-player-hidden {
  display: none;
}

.pp-player-position-msg {
  margin-bottom: 20px;
  margin-top: -10px;
}

.pp-player-position-msg p {
  font-size: 14px !important;
  margin-bottom: 5px !important;
  margin-top: 0;
  line-height: 1.4;
  font-style: italic;
}

.pp_settings-content {
  padding: 5px 10px;
  border: 1px solid #e9e9e9;
  border-top-width: 0;
  margin: 0 0 10px;
  display: none;
}

[dir="ltr"] .podcast-styling .wp-picker-container {
  float: right;
}

[dir="rtl"] .podcast-styling .wp-picker-container {
  float: left;
}

.podcast-styling .wp-picker-container.wp-picker-active {
  float: none;
  margin-top: 10px;
}

.pp_terms-checklist {
  padding: 10px;
  border: 1px solid rgb(230, 230, 230);
  margin: 4px 0px 10px;
  max-height: 80px;
  height: 80px;
  overflow: auto;
}

.pp_terms-checklist ul {
  margin-top: 0;
}

.pp_elist-checklist,
.pp_slist-checklist,
.pp_catlist-checklist {
  padding: 10px;
  border: 1px solid rgb(230, 230, 230);
  margin: 4px 0px 10px;
  max-height: 120px;
  height: 120px;
  overflow: auto;
}

.pp_elist-checklist ul,
.pp_slist-checklist ul,
.pp_catlist-checklist ul {
  margin-top: 0;
}

.pp_elist-checklist li label.selectit,
.pp_slist-checklist li label.selectit,
.pp_catlist-checklist li label.selectit {
  display: block;
  padding-bottom: 6px;
  border-bottom: 1px dotted rgb(230, 230, 230);
}

.pp_elist-checklist li label.selectit:after,
.pp_slist-checklist li label.selectit:after,
.pp_catlist-checklist li label.selectit:after {
  display: table;
  content: "";
  clear: both;
}

.pp_elist-checklist li span.cblabel,
.pp_slist-checklist li span.cblabel,
.pp_catlist-checklist li span.cblabel {
  display: block;
  width: calc(100% - 1.5rem);
}

[dir="ltr"] .pp_elist-checklist li span.cblabel,
[dir="ltr"] .pp_slist-checklist li span.cblabel,
[dir="ltr"] .pp_catlist-checklist li span.cblabel {
  float: right;
}

[dir="rtl"] .pp_elist-checklist li span.cblabel,
[dir="rtl"] .pp_slist-checklist li span.cblabel,
[dir="rtl"] .pp_catlist-checklist li span.cblabel {
  float: left;
}

.post-type-fetch > div {
  margin: 1em 0;
}

.multibox__checklist {
  max-height: 130px;
  height: 130px;
  overflow: scroll;
  padding: 6px 8px;
  border: 1px solid #8d96a0;
  border-radius: 4px;
}

.checkbox-disabled {
  opacity: 0.5;
}

.mmss-time {
  margin-top: 5px;
}

.mmss-time input[type=number].tiny-text {
  width: 50px;
}

.pp-desc {
  font-style: italic;
}

.toplevel_page_pp-options #wpcontent,
.podcast-player_page_pp-settings #wpcontent,
.podcast-player_page_pp-toolkit #wpcontent,
.podcast-player_page_pp-products #wpcontent,
.podcast-player_page_pp-help #wpcontent,
.podcast-player_page_pp-shortcode #wpcontent {
  padding: 0;
}

.pp-options-header,
.pp-options-content {
  max-width: 100%;
}

.components-datetime__time-field {
  display: flex;
  align-items: center;
}

.components-datetime__time-field .components-datetime__time-field-hours-input {
  flex: 1;
  min-width: 0;
}

.pp_feed-selection {
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 5px;
}

.pp-product {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}

.pp-product-title {
  margin-bottom: 10px;
}

.pp-product-subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pp-product-description {
  margin-bottom: 10px;
}

.pp-product-link {
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
}

#dashboard-widgets {
  font-family: system-ui, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.01em;
}

#dashboard-widgets h3.pp-dash-heading {
  -webkit-border-after: 1px solid #eee;
          border-block-end: 1px solid #eee;
  margin: 0 -12px;
  padding: 6px 12px;
  font-weight: 600;
  -webkit-margin-after: 13px;
          margin-block-end: 13px;
}

#dashboard-widgets a.pp-dash-item-link {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

#dashboard-widgets p.pp-dash-item-desc {
  margin: 0 0 1.5em;
  font-weight: 500;
}